[2017-02-09 15:22] HDVinnie opened #10 "Support Version"
Not a issue just curious if this works out the box with Laravel 5.4

[2017-02-09 15:57] akiyamaSM commented on #10
I guess it would, since I've only used Models.
would you like to try it?

[2017-02-09 16:03] HDVinnie commented on #10
Yeah I can. Do you have any sample blade views I could use to make poll

[2017-02-09 17:58] akiyamaSM commented on #10
Actually I have not made it yet, I was aiming to work on it in the next release.
or you can help me with that with a PR

[2017-02-27 11:28] #10 closed

[2017-03-16 15:21] HDVinnie commented on #10
any updates on sample views?

[2017-04-13 17:49] HDVinnie commented on #10
still planning todo sample views?

[2017-05-13 05:13] vesper8 opened #12 "example / sample view?"
Like your package! But would be nice if there was at least a very basic scaffolding / sample view

Even something very basic which I'm sure you've used yourself would be better than nothing?

Even as a reply to this issue :)

Cheers!

[2017-09-20 13:59] AkshitSahani commented on #12
I would agree! A little bit more of a guideline of how to use it would be very helpful!

Thanks

[2017-09-20 14:39] akiyamaSM commented on #12
Sorry Guys not to be able to respond you as seen as possible, I've not been able to be active in here for the last months.
For @vesper8 & @AkshitSahani 's question Actually I didnt want to add some sample pages thinking that may change from one to an other.
To be honest I thought that no one would use my package, I'm really gratefull for your messages.

[2017-09-20 14:44] AkshitSahani commented on #12
I understand. But your package is definitely useful and we're using it for our projects. I am currently using it in a project where polls need to be created, which users can answer and the results of those have to be displayed at the end. I was a little confused about how to use it, so I thought I’d ask you.

I don’t understand how someone would create, edit and close polls. I was able to follow t

[2017-09-20 14:51] akiyamaSM commented on #12
@AkshitSahani an email has been sent answering your question, I'll be guiding you untill you get a good idea about whole the work flow.

[2017-09-21 13:56] akiyamaSM opened #13 "Larapoll is open for developement!"
Its been a long time since I ever contributed to the package, Now I feel that I can be able to add new thing on demande.
So Feel Free to ask for things you may want to see in the next releasse.

[2017-09-24 10:40] akiyamaSM opened #16 "Planify polls to be closed at a certaine date"
Planify Polls not to acept any votes after a certaine date that will provided in the creation/edit.
The admin will be able to prolong the duration of it as well whenever he wants.

[2017-09-24 10:42] akiyamaSM opened #17 "A dashboard for the users to check the polls"
A dashboard will be added to the users that way they will be able to check out the results of the polls where they participated in.

[2017-09-24 10:44] akiyamaSM opened #18 "Add the ability to the visitors to vote"
Visitors as well should be able to vote, not only the users.

[2017-09-24 22:40] HDVinnie commented on #12
I have been wanting to use this package for awhile now but also struggled with the view concept. A sample view would be great for displaying polls and results.

[2017-09-25 07:55] akiyamaSM commented on #12
@HDVinnie I'm working on it, I think it will be ready in 2 weeks at max, Hopefully.

[2017-10-04 19:45] akiyamaSM commented on #12
Done.

[2017-10-04 19:45] #12 closed

[2017-10-05 09:43] akiyamaSM commented on #17
Done.

[2017-10-05 09:43] #17 closed

[2017-10-15 05:37] vesper8 commented on #13
hey man! hadn't really looked at this for a few months and super happy to see the number of commits as almost tripled since i made my fork

looking forward to seeing what you've added. I see you added the hasVoted too. I think my approach might be a bit cleaner and making use of the relationships between models. Check it out?

https://github.com/vesper8/larapoll/commits/master

I had also added a

[2017-10-15 09:17] akiyamaSM commented on #13
Great! Make a PR and I'll merge it!

[2017-11-23 21:06] TnCoders opened #50 "Class 'PollWriter' not found"
Hi, There is Many bugs And This is one of them:

I just added : {{ PollWriter::draw(1, auth()->user()) }}
to Home.blade.php on the vendor view folder.

and got this error.

"Class 'PollWriter' not found"
Exception message: Class 'PollWriter' not found`

[2017-11-24 10:57] akiyamaSM commented on #50
Make sure you include the LarapollServiceProvider class in the  config/app.php file.

[2017-12-13 10:48] TnCoders commented on #18
Hello, That's A good Thing do you have some idea to start this ? actualy i was loooking for this.

[2017-12-14 11:50] akiyamaSM commented on #18
@TnCoders  Actually didnt start on it yet.

[2018-01-12 00:09] MertcanGokgoz commented on #50
Class 'PoolWriter' not found and i added app.php LarapollServiceProvider

[2018-02-02 08:44] kency commented on #50
me too  at lararel5.5

[2018-02-02 09:17] kency commented on #50
ok, let's fixit.

also add a alias in config app.php
'aliases' => [
...
'PollWriter'=>Inani\Larapoll\PollWriterFacade::class
]

no tks

[2018-03-31 00:20] mstrychalski opened #51 "Any chance to move Dashboard to another branch?"
You've done very good job making pretty simple thing as package, so nobody needs to do this themselves. But still, dashboard is redundant in most projects, because they already uses their dashboards for handling things.

It would be very nice to move Dashboard to another repo, and just release as another package. This is how it is done usually.

Cheers!

[2018-04-19 08:04] elyes41 opened #52 "accessing to larapoll"
i m new in laravel developing and i will use your package, it is installed but i don't know how use it or how to access to this package

[2018-05-03 17:17] bjs48 opened #53 "Hey, I am trying to add this polling feature in my faq website but encountering errors with the database"
Can anybody help me out with these error regarding database and how could I add this feature to my project

[2018-08-07 20:55] steph21cc commented on #52
Same here. Can you please add a step by step example on how to use it after installing? Would appreciated so much

[2018-08-08 10:53] akiyamaSM commented on #52
@elyes41  and @steph21cc
Here is a blog post on how to use it, hope its clear.
https://medium.com/@InaniT0/create-polls-easily-using-laravel-package-larapoll-d8e520f021f5

[2018-08-08 11:53] kvinkinamoto opened #55 "Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN) Class 'App\Http\Requests\Request' not found"
Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN)
Class 'App\Http\Requests\Request' not found

Not work

[2018-08-08 12:01] kvinkinamoto opened #56 "PollCreationRequest no contain function $request->all()"
/**
     * Store the Request
     *
     * @param PollCreationRequest $request
     * @return \Illuminate\Http\RedirectResponse
     */
    public function store(PollCreationRequest $request)
    {
        $poll = PollHandler::createFromRequest($request->all());
        return redirect(route('poll.index'))
            ->with('success', 'Your poll has been addedd successfully');
    }

[2018-08-08 12:53] akiyamaSM commented on #56
Are you sure? Would you please help me with instructions to reproduce the problem?

[2018-08-08 13:02] kvinkinamoto commented on #56
sory my english is bad

![image](https://user-images.githubusercontent.com/1387047/43838514-39087c66-9b24-11e8-9292-746500919f3c.png)

use App\Http\Requests\Request;

class PollCreationRequest extends Request

PollManagerController
public function store(PollCreationRequest $request)
    {
        $poll = PollHandler::createFromRequest($request->all());
        return redirect(route('poll.index'))

[2018-08-08 16:28] akiyamaSM commented on #56
@kvinkinamoto  Are you usigng Laravel?

[2018-08-08 19:04] kvinkinamoto commented on #56
yes 5.6

[2018-08-08 19:11] akiyamaSM commented on #56
Actually, I haven't test it on it yet. In the L5.2 it works fine.

[2018-08-20 22:02] fahadakbar24 opened #57 "$request->user() returning null"
**Error:**
Call to a member function poll() on null

**Description:**
The error occurs when trying to submit a vote for the poll.

![image](https://user-images.githubusercontent.com/26380184/44369060-74969f00-a4ee-11e8-897e-62c572be72a4.png)

[2018-08-21 09:26] akiyamaSM commented on #57
Make sure the user is authenticted.

[2018-08-21 17:41] fahadakbar24 commented on #57
The user is already authenticated, I am able to access the authenticated user using the Auth::user() and $request->user() in my own code but the plug-in is seeing it as unauthenticated.

[2019-01-18 15:14] akiyamaSM commented on #57
It will be supported for Laravel 5.7 soon.
Thanks

[2019-01-18 15:14] #57 closed

[2019-01-18 15:14] akiyamaSM commented on #56
It will be supported for Laravel 5.7 soon.
Thanks

[2019-01-18 15:14] #56 closed

[2019-01-18 15:14] akiyamaSM commented on #55
It will be supported for Laravel 5.7 soon.
Thanks

[2019-01-18 15:14] #55 closed

[2019-01-18 15:15] akiyamaSM commented on #53
Close for insufficient data

[2019-01-18 15:15] #53 closed

[2019-01-18 15:15] #52 closed

[2019-01-18 15:19] akiyamaSM commented on #51
Thanks for the suggestion.

[2019-01-18 16:07] #51 closed

[2019-02-10 10:40] #50 closed

[2019-03-18 20:32] akiyamaSM commented on #18
Now its possible to let guest vote.

[2019-03-18 20:32] #18 closed

[2019-03-18 20:32] #13 closed

[2019-04-04 13:18] obiefy opened #63 "Surveys support"
I installed this package on L5.7 and I played around the implementation and source code.
In my case, I need to use this package for surveys so the single survey may have multiple polls.
For example:
[code]
So do you have any plan for this?, I can contribute to making this happen.
please reply ASAP.

[2019-04-04 13:36] akiyamaSM commented on #63
I'd be happy to accept a PR. To be honest its in my mind to make it as a suervey.

[2019-04-04 13:59] obiefy commented on #63
That's great, let start analyzing this.
--- Survey
|----- database table columns
|-------- title
|-------- title
|
|
|
|

[2019-04-04 14:17] obiefy commented on #63
That's great, let us start.

[2019-04-05 23:11] obiefy opened #64 "Return warning alert when poll object not found on database"
I found this exception when I am trying to use `PollWriter::draw($poll_id)` method on a nonexistent poll.
I think it will be good if this method returned a warning alert instead of `no results` exception.

![Screenshot (3)](https://user-images.githubusercontent.com/16496932/55660885-2d171600-5826-11e9-8600-0aa8754f3987.png)

[2019-04-06 09:17] akiyamaSM commented on #64
Its an option, Or to hide it totally. you can provide a PR I'll be happy to merge it.

[2019-04-06 10:32] obiefy commented on #64
I started work it, I think it is a good idea to use `type hinting` on this method.

[2019-04-16 09:00] obiefy commented on #16
How this can happen :
1- running schedule on the server to close poll if it is out of date.
2- Close it inside Poll class using some bootstrapping function.

[2019-04-16 09:05] akiyamaSM commented on #16
Actually its now implemented as you mentioned (2) but I still want to make the possibility via (1).

[2019-04-16 13:14] akiyamaSM commented on #64
Fixed with #65

[2019-04-16 13:14] #64 closed

[2019-04-16 13:49] obiefy opened #66 "Handle OptionsInvalidNumberProvidedException"
When you using dashboard for creating new Poll, this exception will be thrown if you type the same text inside options field.
this is screenshot for form:
![Screenshot from 2019-04-16 15-42-27](https://user-images.githubusercontent.com/16496932/56214657-9553cc00-605e-11e9-8be1-99bbade03719.png)

and this for the exception
![Screenshot from 2019-04-16 15-44-29](https://user-images.githubusercontent

[2019-04-16 13:53] obiefy commented on #66
if you type two options with the same text and another option with different text, this will make a poll with only two options. the first option for the duplicated text and the second for the different option.

[2019-04-16 14:12] obiefy opened #69 "Make draw results optional"
In some cases, you do not need users to know the poll result.
So we need to make it optional and configurable.
I think it needs an additional column in the database.

[2019-04-16 14:23] obiefy opened #70 "Delete poll confirmation"
Add confirmation dialog for deleting a poll, we can use this with poll lock.

[2019-04-18 11:41] obiefy opened #71 "Poll builder"
Improve poll creation using drag and drop inside the poll builder

[2019-04-18 12:03] akiyamaSM commented on #71
How?

[2019-04-18 13:05] akiyamaSM opened #72 "CRUD UI optional"
I don't think we must separate both API and the CRUD UI since it's not that big. so I suggest to make it optional via configuration.

[2019-04-20 17:29] akiyamaSM commented on #69
Thanks @obiefy for the PR #73

[2019-04-20 17:29] #69 closed

[2019-04-21 13:22] obiefy commented on #66
the bug is inside this function, it checks if the option text exists.
[code]

do we need to ignore this condition ??

[2019-04-21 13:27] akiyamaSM commented on #66
@obiefy yes normally you can't have two options with the same value, it doesn't make any sense.
There must be a validation rule that detects duplication and it throws an exception

[2019-04-21 15:59] obiefy commented on #66
Sorry, the exception comes from `generate()` function.

[2019-04-21 20:47] akiyamaSM commented on #66
Thanks, I'll work on it tomorrow. unless if you want to propose a PR.

[2019-04-21 22:45] obiefy commented on #66
I already fixed this issue, please review this PR #74

[2019-04-23 13:19] akiyamaSM commented on #66
Thanks!

[2019-04-23 13:19] #66 closed

[2019-04-23 16:37] obiefy commented on #70
Fixed with #75.

[2019-04-23 16:37] #70 closed

[2019-04-25 09:43] angeljasth opened #76 "Class 'Inani\Guest' not found"
When poll includes option "allow to guest", function resolveVoter returns error 'Class Inani\Guest' not found.

[2019-04-25 10:39] akiyamaSM commented on #76
Problem solved with the latest PR #77, Thanks  for the feedback.

[2019-04-25 10:45] akiyamaSM opened #78 "Important"
For the moment I will not accept any PR untill we re-write the tests to be sure that the new code doesn't break the old one.

I'll be happy to Accept PR related to tests.

[2019-04-26 08:23] #76 closed

[2019-04-28 20:11] fkranenburg opened #79 "Call to undefined method App\User::hasVoted()"
I only use this poll for unauthenticated visitors. So I didn't add the `Voter` trait to my user model. But even if I set the `canVisitorsVote` to `1` for the poll I'm drawing on the page, I still get this message.

`Call to undefined method App\User::hasVoted()`

Not sure if this is a bug or just a mandatory part of the implementation. It would be nice if I didn't have to include the Voter trait i

[2019-04-29 10:28] akiyamaSM commented on #79
Thanks @fkranenburg for the feedback, actually it doesn't make sens. now with the last update you will be able to vote with a guest without the need to use the Voter trait.

[2019-05-02 08:21] obiefy commented on #78
It is important to add [Travis CI](https://travis-ci.com).

[2019-05-02 09:53] akiyamaSM commented on #78
@obiefy exactly.

[2019-05-03 11:00] mrwhale commented on #79
Hey @akiyamaSM
Sorry to open this one up again. How are Guests identified to vote? I am having an issue where I have set a poll to be open to guests, however after voting on the poll once all the view does is displays the results. I have tried different browser and devices to connect but it does the same thing

[2019-05-03 11:19] akiyamaSM commented on #79
@mrwhale Are identified by their ip address.

[2019-05-03 11:41] mrwhale commented on #79
Ah thanks! Not sure why it's not working then if I'm testing from a different device then, makes sense when I was just running from local host using different browser. Do I need to add a guard around the view that displays the poll?

[2019-05-03 11:57] mrwhale commented on #79
I will also have to tweak this to be based off sessions or something else as the app I am building will be used by alot of people from 1 company so their public IP will be logged as the same as they cast their votes

[2019-05-03 13:47] akiyamaSM commented on #79
@mrwhale Actually you can override everything, as mentioned in the readme file. from the view to the way the data are treated.

[2019-05-05 08:49] mrwhale opened #80 "Guest voters unable to vote after first vote cast"
Hey, thanks for the great plugin!

I hijacked another issue but I think it needs its own.

First issue is that I'm having the same one as https://github.com/akiyamaSM/larapoll/issues/79

I have the latest but without adding the `Voter` trait I get the issue referened in that issue

This is worked around by just adding the trait for the User model

The second issue I am having is that after the fir

[2019-05-05 10:42] akiyamaSM commented on #80
Hello, Thanks @mrwhale for the issue and  the interest. The ``Voter`` is no more needed for the Guests to vote. make sure to reinstall the package and install the dev-master version.
for the second issue I'd love you to compare both the ip stocked in the database and the current ip you are using.

[2019-05-06 02:06] mrwhale commented on #80
Hey @akiyamaSM

I started from scratch, using dev-master instead of 2.5 in my composer file

Now I seem to be getting a different error all together

```Argument 1 passed to Inani\Larapoll\Helpers\PollWriter::draw() must be an instance of Inani\Larapoll\Poll, integer given, called in /code/poll/vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php on line 237```

[2019-05-06 09:29] akiyamaSM commented on #80
Hey @mrwhale Actually, there was some changes in the ``draw`` method with the #65 PR, now it accepts an instance of Poll, ``{{ PollWriter::draw(Poll::find(1)) }}``.
Actually I was thinking to make some changes to not break existing code.

[2019-05-06 10:38] mrwhale commented on #80
That makes sense! I'll give that one a go then. Thanks for the help @akiyamaSM I'll let you know how it goes

[2019-05-06 10:53] akiyamaSM commented on #80
Thanks for the feedback @mrwhale, I'll leave it open until you confirm that everything is okey.

[2019-05-08 01:42] mrwhale commented on #80
Okay so i've managed to get this working how I need it to, but I've had to modify some of your src code directly. Is there an easy way to overwrite/modiy these, for example, the Voter trait, without modifying it under the vendor folder?
Not sure If i should put this in a pull request, but I found a logic issue that I was running into

Line 61 of the Poll model
`        return $this->canVisitorsVot

[2019-05-08 09:15] akiyamaSM commented on #80
Hello @mrwhale, Actually you can override what you want. check out the link here https://stackoverflow.com/questions/28104574/strategy-to-override-a-class-in-a-library-installed-with-composer

[2019-05-09 10:04] AboElnoor commented on #78
Contributing file isn't clear, branches as well.

[2019-05-09 11:18] akiyamaSM commented on #78
@AboElnoor What is not clear?

[2019-05-09 11:38] AboElnoor commented on #78
How to contribute, and which standers should we follow?
What is the description of every branch and which branch to create PR for?

[2019-05-09 11:53] akiyamaSM commented on #78
@AboElnoor You can create PR for Master ;) there is no standar for the right moment.

[2019-05-09 11:55] AboElnoor commented on #78
I did before, but you didn't interact with it.

[2019-05-09 12:18] akiyamaSM commented on #78
when? can you refer to the PR?

[2019-05-09 12:28] obiefy commented on #78
@AboElnoor I think you mean contribution guide

[2019-05-10 09:25] rabol opened #81 "Frontend use"
Hi

As i want guest users to be able to vote I grabbed the dev-master version.

{{ PollWriter::draw(1) }}

does not work:

Inani\Larapoll\Helpers\PollWriter::draw() must be an instance of Inani\Larapoll\Poll, int given,

Did the usage change or is the read me wrong ?

[2019-05-10 09:29] akiyamaSM commented on #81
Hey @rabol sorry I haven't changed the readme yet, now you should pass an instance of poll. I'll make it accept an id too later. thanks.

[2019-05-10 09:33] rabol commented on #81
No problem :)

I changed so I pass a Poll instance, but all I get is:

"Thanks for voting"

[2019-05-10 09:40] rabol commented on #81
ok.. I needed to update the poll
Seems to be working

[2019-05-10 09:41] akiyamaSM commented on #81
Thanks ^^. I'll be closing the issue then.

[2019-05-10 09:41] #81 closed

[2019-05-11 00:55] AboElnoor commented on #78
I think I was making something wrong, I'll try to make it again.

Exactly, thanks for the clarification.

[2019-05-30 06:04] spmsupun commented on #76
still having the issue in 2.5

[2019-06-11 10:29] almi9 opened #83 "Illuminate\Database\Eloquent\Collection::isComingSoon does not exist"
Hi

I trying to drow the poll

   {{ PollWriter::draw(\Inani\Larapoll\Poll::find(1)) }}

I found that error

Illuminate\Database\Eloquent\Collection::isComingSoon does not exist

Anyone can help me, please?

[2019-06-11 10:43] akiyamaSM commented on #83
Hello, You can still pass an id

{{ PollWriter::draw(1) }}

[2019-06-11 10:53] almi9 commented on #83
Hi

Thank you for your replay

I found that error

 Illuminate\Database\Query\Builder::hasVoted does not exist.
when I use
{{ PollWriter::draw(1) }}

thank you a lot for your suport

[2019-06-11 11:06] akiyamaSM commented on #83
Make sure to use the latest version. and setting up the model correctly.

[2019-06-11 15:00] almi9 commented on #83
Hi

That is the steps that I used to install it

'I used laravel 5.6'
1-run
composer require inani/larapoll

2-php artisan vendor:publish

[code]

3- enter http://127.0.0.1:8000/admin_polls/admin/polls
4-write new poll
5- add drow code "{{ PollWriter::draw(1) }}" on
blog\vendor\inani\larapoll\src\views\dashboard\options ->index

I upload the code here

https://we.tl/t-iRWG3gpspm

can you advise me

[2019-06-12 20:38] mrwhale commented on #83
Check out the first half of issue #80 I had the same error. When installing try appending `dev-master` to it to grab the latest version

`composer require inani/larapoll dev-master`

[2019-06-23 07:22] milanchheda commented on #76
Still getting this error.

[2019-07-05 01:50] lloricode commented on #76
same here

[2019-07-05 01:50] lloricode commented on #76
did this released? @akiyamaSM

[2019-07-05 01:53] lloricode commented on #76
still getting this

[code]

in inani/larapoll: 2.5

[2019-07-05 18:00] archisss commented on #72
i'm looking for a poll system i'm going to fork your project and like to participate in it, can i; you are accepting pull request.

i can start creating a illustrated installation a first poll create, i have to do it anyway.

[2019-07-06 07:36] akiyamaSM commented on #72
I'll be happy to review your PR

[2019-07-06 11:18] #80 closed

[2019-07-06 11:19] #83 closed

[2019-07-06 11:20] akiyamaSM commented on #76
Hello @lloricode would you open a new issue with the use case to be able to reproduce it.

[2019-08-31 20:45] cedlinx commented on #81
Hello All,

I know this closed but I've been stuck at "Thanks for voting" (even though I've not yet voted) and would like to know how @rabol got past that.

Thank you.

[2019-09-02 05:03] domsfd opened #85 "Unable to install larapolll"
Hi, I've followed all the steps but when include the code bellow in my index controller:
$poll = new Poll([
            'question' => 'What is the best PHP framework?'
        ]);
the error bellow appear:
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Class 'App\Http\Controllers\Poll' not found

Are i missing part of declaration? please advise

[2019-09-02 16:08] obiefy commented on #85
Hi, @domsfd Did you import `Poll` class correctly?
please make sure you add `use Inani\Larapoll\Poll;` inside your controller.

[2019-09-02 17:31] domsfd commented on #85
Hi obiefy, thank you for the answer, also could you please provide full project showing all the steps for polling process with larapoll in ordre for me to have a clear understanding of larapoll ? Thanks in adavance

[2019-09-02 17:40] obiefy commented on #85
This is article from the package Creator, it will help you.
https://medium.com/@InaniT0/create-polls-easily-using-laravel-package-larapoll-d8e520f021f5

[2019-09-02 18:04] domsfd commented on #85
I have already seen this article but no idea on which code (controler and view) to use for example to obtain the first window "create Poll" ?

[2019-09-02 18:15] domsfd commented on #85
For example this code:
// a voter(user) picks a poll to vote for
// only ids or array of ids are accepted
$voter->poll($poll)->vote($voteFor->getKey());
Do i need to create one controller to pick a pool ?

[2019-09-02 20:48] domsfd commented on #85
Please provide description of the code below
// a voter(user) picks a poll to vote for
// only ids or array of ids are accepted
$voter->poll($poll)->vote($voteFor->getKey());

Could you please correct and complete my vote function bellow:

Public function vote(Poll $poll,$voter, $voteFor) {
// is $voteFor = the $option ???
// is $voter part of input function ?
$voter->poll($poll)->vote($voteFor->g

[2019-09-04 01:29] meesudzu opened #86 "Allow guest voting is not working."
Checkbox "Allow to guests" in CRUD UI is not update to database.
I see PollHandler:modify() dont have any code to update "canVisitorsVote".
 When I change it in database, "canVisitorsVote" from 0 to 1. It still show "Thanks for voting", I think it's a wrong condition in PollWriter::draw(), but i dont know how to override to fix it.

[2019-09-04 03:10] meesudzu commented on #86
I have been fix it by change the PollWriter and PollHandler class in vendor folder, but I know this is a bad way.
How can I override it in my project?

[2019-09-04 15:45] domsfd opened #87 "Hi"
Hi

That is the steps that I used to install it

'I used laravel 5.6'
1-run
composer require inani/larapoll

2-php artisan vendor:publish

[code]

3- enter http://127.0.0.1:8000/admin_polls/admin/polls
4-write new poll
5- add drow code "{{ PollWriter::draw(1) }}" on
blog\vendor\inani\larapoll\src\views\dashboard\options ->index

I upload the code here

https://we.tl/t-iRWG3gpspm

can you advise me

[2019-09-04 15:46] domsfd commented on #87
Hi Could you please share the source code of the project that you uploaded before
Regards

[2019-09-04 15:47] domsfd commented on #83
Hi almi9 could you please share the project source code that you have uplaod before, regards

[2019-11-08 08:12] #87 closed

[2019-12-10 07:23] ranrinc opened #89 "A guide to install the UI"
Is there a guide to install the UI.. I try https://medium.com/@InaniT0/create-polls-easily-using-laravel-package-larapoll-d8e520f021f5 which show the nice UI but no guide on how to make it run.

I hope someone will help

[2019-12-10 15:59] akiyamaSM commented on #89
I don't understand the problem?

Thanks for the usage.

[2019-12-10 16:04] ranrinc commented on #89
I mean.. after running composer and all the step.. how can we see the admin UI and poll UI? Is there a guide on how to make them appear? is there a routes that need to be set? or view to be created? Maybe some guide?

[2019-12-10 16:07] akiyamaSM commented on #89
Please follow the readme instructions
https://github.com/akiyamaSM/larapoll#crud-handler

[2019-12-10 16:13] ranrinc commented on #89
Where should I put  `{{ PollWriter::draw(Poll::find(77)) }}` or `{{ route('poll.vote', $id) }}`

How do I make the poll? How do you make/called the pages shown on https://medium.com/@InaniT0/create-polls-easily-using-laravel-package-larapoll-d8e520f021f5?

[2019-12-10 16:14] akiyamaSM commented on #89
Its up to you to where you want the code to be shown,
The UI is just a helper, its up to you to decide how to use the the polls. you can even make your own.

[2019-12-10 16:17] ranrinc commented on #89
In your example, how do you make them appear? is there an example? a web.php or the view? or any controller?

[2019-12-11 08:58] akiyamaSM commented on #89
it should be like this http://yoursite.com/prefix/admin

[2019-12-24 15:05] #89 closed

[2020-02-02 20:25] vesper8 opened #90 "can you tag a new version for Laravel 6?"
@akiyamaSM I see you've added support but one cannot install this unless they specify dev-master. Could you please tag a new release?

And since Laravel 7 is right around the corner you may as well change the composer.json to support Laravel 7 too

Thank you

[2020-02-18 08:50] akiyamaSM commented on #90
Sorry for being late, its done

[2020-02-18 08:50] #90 closed

[2020-02-18 08:51] #86 closed

[2020-02-18 08:51] #85 closed

[2020-02-18 11:44] vesper8 commented on #90
thanks much!

[2020-03-06 15:48] vesper8 opened #91 "Laravel 7 compatibility"
`2.5.2` is not compatible with Laravel 7 due to `illuminate/support ~5|~6`

@akiyamaSM Could you please release a new version with Laravel 7 compatibility?

Thanks a lot!

[2020-03-06 15:49] vesper8 commented on #90
@akiyamaSM Laravel 7 just came out : ) would be great if you could support it quickly, yours is one of 3 dependencies preventing me from upgrading right now. Thanks!

[2020-03-10 14:33] vesper8 opened #92 "autoloading warning with new composer"
Composer 1.10.0 just came out and has this deprecation warning:

https://github.com/composer/composer/releases/tag/1.10.0

[code]

I just ran a composer install on a project that uses Larapoll and yours was the only package that caused a huge blob of warnings:

[code]

Just a heads-up as I believe once Composer 2.0 comes out it will cause problems with your package.

Cheers!

[2020-03-10 15:42] akiyamaSM commented on #92
Thanks for the notice. Ill be looking in it. Hope its just a notice and didn't affect your code.

[2020-03-10 16:06] vesper8 commented on #92
Yep it's just a notice for now, I am looking forward to Composer 2.0 coming out as it's supposed to come with nice speed improvements.

On the other hand @akiyamaSM, the Laravel 7 compatibility is affecting me more as I really want to upgrade to Laravel 7 and yours along with a few other packages are preventing me from upgrading so I hope you can find the time to tag a new release with Laravel 7 c

[2020-04-05 16:05] vesper8 commented on #91
@akiyamaSM any update on adding Laravel 7 compatibility, please? Yours is the last package I need to be updated before I can proceed with the upgrade to 7, would really appreciate if you could find the time to add it soon. Many thanks

[2020-04-06 14:45] akiyamaSM commented on #91
@vesper8
Hello, Sorry for being late, its now supported by Laravel 7.
if there is any issue let me know to fix it.
new version will be dropped in the next few weeks anyway ;)

[2020-04-06 14:45] #91 closed

[2020-04-06 15:04] vesper8 commented on #91
awesome!! thanks for the quick turnaround!

[2020-04-06 15:07] vesper8 commented on #92
@akiyamaSM I've been fixing these errors in my own projects and it looks like the cause is simply that the namespace needs to match the path quite strictly to be PSR-4 compliant.

So in your case all those warnings seem to be caused simply because your folders are lowercase and they should all have the first letter capitalized so it matches the namespace

So simply capitalize the first letter of t

[2020-04-09 17:02] vesper8 commented on #92
@akiyamaSM Just want to confirm that I tested it and indeed renaming the folders `traits`, `helpers` and `exceptions` to `Traits`, `Helpers` and `Exceptions` makes the deprecation warnings go away in Composer 1.10+

[2020-04-16 10:21] masoudhosseiny opened #93 "composer problem for installing"
[code]

[2020-04-22 03:38] moisesh18 opened #94 "Cant translate or override controllers, views..."
Someone could override files in this repository?

[2020-04-28 17:56] vesper8 commented on #93
Don't know why `^2.52` is giving you this error but if you change that to `^2.7` it will definitely install on Laravel 7

[2020-05-06 11:34] #92 closed

[2020-05-10 18:16] Steven73041 opened #96 "Some issues-logic params"
### Hello, first of all trying to follow 100% of documentation gives error of using static method

you have to pass an instance of PollWriter in the view
OR
[code]
etc.

The option "Allow to guests" doesn't update, the value that gets from the creation doesn't get updated in edit of "Poll", Also I need to modify vendor/inani/larapoll/src/helpers/PollWriter.php to achieve voting without showing res

[2020-05-10 22:03] akiyamaSM commented on #96
Thanks for your feedback, I'll be looking at the points you mentioned. feel free to submit your PR. I'll be happy to merge it.

[2020-05-13 23:05] akiyamaSM commented on #96
@Steven73041  you have to clear the cache of the app and bring the latest version, you will like it. Btw no need to instanite the helper class

`{{ PollWriter::draw(2) }}`

[2020-05-13 23:06] akiyamaSM commented on #94
@moisesh18 It would be a great idea, I'll work on the english version, that way others can just translate the file

[2020-05-13 23:06] #93 closed

[2020-06-04 18:48] PooX opened #98 "Laravel 7 support with error"
Hi,

i have problem with installing this package on my Laravel 7 app.

This is an error.

[code]

[2020-06-04 18:53] akiyamaSM commented on #98
I would invite you to install the latest tagued version 2.9

[2020-06-04 18:54] PooX commented on #98
So command

composer require inani/larapoll

doesnt download automatic this, i need just to add this version.

Now it works, thanks. :)

[2020-06-04 18:54] #98 closed

[2020-06-04 18:58] akiyamaSM commented on #98
Yeah 😅
Thanks for using the solution

[2020-12-06 20:21] matuskrchnik opened #100 "Trait 'Inani\Larapoll\Traits\PollCreator' not found"
Hello,

in the view where i render poll return me error like: Call to undefined method Inani\Larapoll\Guest::belongsToMany()

in my localhost all render fine but on shared hosting not working correctly.

<img width="1680" alt="Snímka obrazovky 2020-12-06 o 22 21 55" src="https://user-images.githubusercontent.com/17565975/101292736-b4920500-3811-11eb-939d-e616a3ed69de.png">
<img width="1680" alt="

[2020-12-08 14:16] #100 closed

[2020-12-27 18:10] #96 closed

[2021-02-18 04:14] fhprietor opened #101 "Standalone install for test"
Hi, I am new to laravel.
I want to install and test the system in standalone mode.
I am following the steps. Environment: Windows with XAMP:

"Root package 'inani / larapoll' cannot require itself in its composer.json"

#########################################

Another try: without cloning github:

Just create a few files:

Mode LastWriteTime Length Name
---- ------------- ------ ----
d ----- 02/

[2021-02-18 09:24] akiyamaSM commented on #101
Hello, Larapoll requires Laravel. Thanks.

[2021-02-18 09:24] #101 closed

[2021-02-18 11:32] fhprietor opened #102 "Could not open input file: artisan"
"Could not open input file: artisan"

Please forgive my ignorance, but I feel absolutely powerless.

[2021-02-18 12:49] akiyamaSM commented on #102
This package doesn't work alone, it needs to be in a Laravel application.

[2021-02-22 21:21] vesper8 opened #103 "problem with 2.52 tag preventing latest 2.9.5 from being installed"
I noticed if you try to run `composer require inani/larapoll` on Laravel 8 it wants to install `^2.52` which doesn't work on Laravel 8 and was tagged back in 2019

The latest release is `2.9.5`. If you explicitly set `2.9.5` as the version then it installs, but if you try something like `^2.9` then it reverts to `^2.52`

I think what happened is that `^2.52` was supposed to be `^2.5.2` ?

As a res

[2021-02-23 18:50] #102 closed

[2021-02-23 18:54] akiyamaSM commented on #103
Thank you for the feedback. to be honest I didn't pay attention to it.
I created a new version that way we avoid every probleme.
Thanks Again!!

[2021-02-23 18:54] #103 closed

[2021-02-23 18:54] #94 closed

[2021-03-09 19:42] kbtonmoy opened #104 "Target class [Illuminate\Database\Eloquent\Factory] does not exist"
I tried to install the package in various ways but nothing works for me. I have a Laravel 8 application.
Both
[code]

are returning

[code]

[2021-03-09 22:33] zamronypj commented on #104
In Laravel 8, `Illuminate\Database\Eloquent\Factory` class is moved to `Illuminate\Database\Eloquent\Factories\Factory` class.

Following code will not work as now `Factory` class is an abstract class.
[code]

I do not think `registerFactories` is required in Laravel 8 because model factory class is autoloaded in project composer.json

[code]

Current workaround for me is to remove `registerFactor

[2021-03-09 23:05] zamronypj commented on #104
[Laravel 8 upgrade guide](https://laravel.com/docs/8.x/upgrade#seeder-factory-namespaces) mentioned about this change. If you need old Eloquent factory behavior, you should use [laravel/legacy-factories](https://github.com/laravel/legacy-factories).

[2021-03-10 09:53] kbtonmoy commented on #104
It worked. Thank you.

[2021-03-10 09:53] #104 closed

[2021-03-10 10:47] kbtonmoy opened #105 "Frontend Issue: Thanks for voting"
I have set the Voter trait on my user model and added  'user_model' => App\Models\User::class, in the larapoll-config.php.
when using   {{ PollWriter::draw(\Inani\Larapoll\Poll::find(2)) }} in the frontend it says Thanks for voting. I'm using laravel 8.

[2021-03-10 19:20] #105 closed

[2021-03-27 22:29] audreywrong opened #106 "Bug: Duplicate Route Name"
I received the following error: `Unable to prepare route [admin_polls/admin/polls/{poll}/options/remove] for serialization. Another route has already been assigned name [poll.options.remove].`

This is due to routes.php. To reproduce try running `php artisan optimize`.

[2021-04-01 11:54] DarkZeus commented on #106
I have the same problem. Are there any ways to fix it except just ignore the route caching?

[2021-04-01 15:26] audreywrong commented on #106
I went in and made changes to the vendor code just to verify the issue and
that has solved it on my end, but is not a fix globally yet. I did create
an issue for it. I am also talking with the creator directly to
troubleshoot the PollWriter component as well.

On Thu, Apr 1, 2021 at 6:54 AM Sergey Resnyanskiy ***@***.***>
wrote:

--
*Audrey Wright*
*LinkedIn <https://www.linkedin.com/in/audreylwri

[2021-04-30 20:46] mnaderian opened #107 "Lack of good documentation"
This is a good package for polling. But unfortunately we have to learn most of the things from the source code.
So I propose you start the documentation project and we will help as much as we can.

Thanks for this good package,
It saved me time.

[2021-04-30 20:55] akiyamaSM commented on #107
Thanks for your feedback. Actually, here is a link where i use a demo app to demonstrate how to use it

https://medium.com/@InaniT0/create-polls-easily-using-laravel-package-larapoll-d8e520f021f5

[2021-05-04 12:03] #107 closed

[2021-05-23 20:34] mpapado3 opened #108 "Script @php artisan package:discover --ansi handling the post-autoload-dump event returned with error code 1"
Hi, I am trying to install this package to a project that I have, but I keep stepping on an error when I run composer require.
Below is the full error that I have.

I am trying to install on a Laravel 8 project.

   Illuminate\Contracts\Container\BindingResolutionException

  Target class [Illuminate\Database\Eloquent\Factory] does not exist.

  at vendor/laravel/framework/src/Illuminate/Container

[2021-05-25 21:57] mpapado3 commented on #106
@audreywrong
which part of the vendor code did you changed to remove the error?
your reply is highly appreciated.

[2021-05-29 15:37] audreywrong commented on #106
Here is a link to my change log in the README: https://github.com/audreywrong/poll-pro/commit/226b56aea7c31d22983530e7c93d3287b99c8d0e
You can take a look at each of those file commits in the repository. I'm sorry I can't be more specific or explicit here. To be honest I did not take the job where I was going to be using PHP and have deleted some of this from my memory with the new job!

If this i

[2021-06-05 16:06] akiyamaSM commented on #106
Hello @audreywrong and @mpapado3
Thanks for the concern, I just made a new release  fixing the issue related to optimization.
https://github.com/akiyamaSM/larapoll/releases/tag/3.1

[2021-06-05 16:06] #106 closed

[2021-06-05 16:07] akiyamaSM commented on #108
Hello, its fixed now :D

[2021-06-05 16:07] #108 closed

[2021-06-05 16:07] #72 closed

[2021-06-05 16:07] #16 closed

[2021-06-05 16:07] #78 closed

[2021-06-05 16:08] #63 closed

[2021-06-06 22:36] audreywrong commented on #106
@akiyamaSM - this is fantastic! Will definitely test this out. Thank you!

[2021-06-07 15:44] omidMolaverdi opened #109 "what is the interface default URL?"
Hi,

I struggle to direct to the admin interface. Can someone help please?

[2021-06-07 17:13] #109 closed

[2021-06-07 17:14] omidMolaverdi opened #110 "publishable views"
Hi,

Fantastic work.

Is there any change to make the views publishable so that anybody can modify/translate the views?

[2021-06-07 17:35] akiyamaSM commented on #110
For the views you can override them. Checkout the readme. I'll let you close it once you see it.

[2021-06-07 18:03] omidMolaverdi commented on #110
Okay thanks. I close this issue now. Thanks a lot.

[2021-06-08 07:52] #110 closed

[2021-06-10 14:34] omidMolaverdi opened #111 "every vote an IP"
Hi,

Thank you for your package. I encountered an issue that blocks my way forward.

It seems that you have locked an IP one vote however, there should be a freedom of vote interval for voting otherwise it won't work for the websites proxied by e.g. Cloudflare that the IP addresses are limited.

I normally cope with this issue by defining a freedom of voting variable and set it to a value like 1 h

[2021-06-10 22:20] mrwhale commented on #111
I encountered something similar a little while ago as I had the need for any _user_ to be able to vote, rather then basing it on IP As this poll feature I used was only published to target 1 company who resided in 1 office (so everyone had the same external IP)

I got around that by using the request session rather then the request IP

https://github.com/akiyamaSM/larapoll/issues/80#issuecomment-4

[2021-06-10 22:34] akiyamaSM commented on #111
I'll be working on that for the next release.

[2021-06-14 09:55] omidMolaverdi commented on #111
Apologize for pushing up. Is there any update on this please?

[2021-07-20 10:44] akiyamaSM commented on #111
@omidMolaverdi Not any soon. I'd be happy to see a PR from you.

[2021-09-24 11:20] Xoshbin opened #113 "Class "Poll" not found"
When I'm trying to use the frontend it's giving the error below, I tried searching all around the package but I didn't find anything mentioning this. just using this command in the view that's all but it's not working.
`{{ PollWriter::draw(Poll::find(77)) }}
`
This package looks good (even I didn't get what I want yet because of this error)  but it's documentation is very bad it took me an hour to

[2021-09-24 13:14] akiyamaSM commented on #113
You are so welcome to Submit PR for documentation. About your issue are you certain you imported the Class?

[2021-09-25 06:13] Xoshbin commented on #113
Thank you, I don't know what you mean by importing the class? I installed the package and I used the admin interface to create a question. and used the {{ PollWriter::draw(Poll::find(77)) }} in the blade with the ID of the question. so since I didn't make any controller for the poll and I was expecting the package to generate the question view in the blade template I don't know where to import the

[2021-09-25 07:05] Xoshbin commented on #113
Now I found out that you have to add the code with it's path in the blade then it's working
                        `{{ PollWriter::draw(Inani\Larapoll\Poll::find(6)) }}`

[2021-09-25 08:02] akiyamaSM commented on #113
That's what I meant. Good luck.

[2021-09-25 08:02] #113 closed

[2021-09-29 23:33] DevPrecious opened #114 "How to render all poll at once???"

[2021-09-30 02:08] akiyamaSM commented on #114
I didn't understand

[2021-09-30 13:44] DevPrecious commented on #114
I mean how to show all polls in a page instead of doing this
 {{ PollWriter::draw(Inani\Larapoll\Poll::find(2)) }}

[2021-09-30 13:46] akiyamaSM commented on #114
It is not implemented. you can loop over all of them.

[2022-01-14 09:43] Mohamed-Nusry opened #115 "Voting for a poll"
Hey.

First of all I had to say this is an amazing package. It makes easy to create a poll.

My issue is when after created a poll when voting how should I find the selected answer ID. in the route method it comes only poll ID

$voter->poll($poll)->vote($voteFor->getKey());

Above one is the function u have mentioned in the doc. But from where $voteFor variable comes? how to get it?

[2022-04-05 08:26] raisrindo opened #117 "How to use it? How to Show the Poll Pages?"
Hi, I'm a Newbie. I don't understand how to use the package. I've already install the package and success until the migration. But, how to display the page? do I need to create the views, controller, and configure the routes first? Thanks

[2022-04-22 00:30] Temian1 opened #118 "update to Laravel 9 needed"
unable to install package on laravel 9

[2022-04-22 08:35] jyrjsinhatfolium opened #119 "Check if auth user has voted and then take count of polls ?"
Hi,

Thank you for your package. I encountered an issue that blocks my way forward.

I have tried getting count of polls as of now as shown below:

![image](https://user-images.githubusercontent.com/100403853/164678186-962b4ff1-8f74-4492-b6f0-a0e958349fee.png)

As of Now I am thinking that this below function would have help me but i am not sure.......`

![image](https://user-images.githubusercont

[2022-04-23 14:31] Temian1 commented on #119
goto laracast.com and ask

[2022-04-26 05:31] workatfolium commented on #119
okay thanks..

[2022-04-26 06:41] jyrjsinhatfolium commented on #119
@Temian1 Thanks for your suggestion but I have solved the issue by the following code....

![image](https://user-images.githubusercontent.com/100403853/165237539-81f006bc-be05-45b7-80e7-712a4f3b6a68.png)

in the ($unvotedpolls) I have got the polls number which current user has not voted.....

[2022-04-26 06:41] #119 closed, assigned to nobody

[2022-05-10 10:00] jyrjsinhatfolium commented on #117
@raisrindo try this way..........

*<b>Try Following Steps After Installing the package and migrations Completely ! Otherwise You Will Get an error !</b>*

*Create Controller:*
[code]

*Paste Below Code in Your  <b>PollController.php</b> which is located at<b>app/http/controllers/</b> :*

[code]
*Create <b>index.blade.php</b> file in <b>resources/views/polls/</b> and paste the code below init :*
[

[2022-06-09 14:48] grafxflow opened #120 "Add a custom user id from another newsletter user database table"
I have a database using 'users' and 'newsletter_subscribers' as separate tables.

I am sending the pole to the newsletter_subscribers and I can get the 'newsletter_subscribers_id'.

So for example I am sending a newsletter with the following url to the pole.
[code]

In the controller I am finding the newsletter user id with

[code]

How do I use this $user_id in the user_id column 'larapoll_votes'

[2022-06-09 17:45] grafxflow commented on #120
Okay I have done a test and the only issue relates to the relationship column name 'newsletter_subscriber_id' instead of 'user_id'. Is there a way of changing 'newsletter_subscriber_id' to 'user_id' within the newsletter model or other?

Column not found: 1054 Unknown column 'larapoll_votes.newsletter_subscriber_id' in 'where clause' (SQL: select count(*) as aggregate from `larapoll_options` inner

[2022-06-12 19:22] grafxflow commented on #120
Best solution is to fork the repo!

[2022-06-12 19:22] #120 closed, assigned to nobody